[{:soal
  {:soal-text
   "\n\n<p>\n Steven and I missed the morning flight, and this made ____ late for the presentation.\n</p>\n\n",
   :options
   [[false "them " 0] [true "us " 1] [false "me" 2] [false "him " 3]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb70468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Firmino and Calvin missed the morning flight, and this made ____ late for the meeting.\n</p>\n\n",
   :options
   [[false "us " 0] [false "he" 1] [false "him " 2] [true "them " 3]],
   :jawaban "D"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Calvin itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb71468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Calvin and Steven missed the morning train, and this made ____ late for the meeting.\n</p>\n\n",
   :options
   [[false "him " 0] [true "them " 1] [false "he" 2] [false "us " 3]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Steven itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb72468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Firmino and Ronaldo missed the morning train, and this made ____ late for the meeting.\n</p>\n\n",
   :options
   [[false "he" 0] [false "us " 1] [false "him " 2] [true "them " 3]],
   :jawaban "D"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Ronaldo itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb73468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Ronaldo and I missed the morning flight, and this made ____ late for the movie&#39;s premier.\n</p>\n\n",
   :options
   [[false "him " 0] [false "me" 1] [true "us " 2] [false "them " 3]],
   :jawaban "C"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb74468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Calvin and I missed the morning train, and this made ____ late for the football game.\n</p>\n\n",
   :options
   [[true "us " 0] [false "him " 1] [false "me" 2] [false "them " 3]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb75468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Steven and Ronaldo missed the morning flight, and this made ____ late for the meeting.\n</p>\n\n",
   :options
   [[false "him " 0] [false "he" 1] [false "us " 2] [true "them " 3]],
   :jawaban "D"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Ronaldo itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb76468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Roberto and Firmino missed the early bus, and this made ____ late for the movie&#39;s premier.\n</p>\n\n",
   :options
   [[true "them " 0] [false "us " 1] [false "he" 2] [false "him " 3]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Firmino itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb77468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Ronaldo and Steven missed the morning train, and this made ____ late for the presentation.\n</p>\n\n",
   :options
   [[false "he" 0] [true "them " 1] [false "us " 2] [false "him " 3]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Steven itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb78468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Firmino and I missed the early bus, and this made ____ late for the presentation.\n</p>\n\n",
   :options
   [[false "him " 0] [true "us " 1] [false "them " 2] [false "me" 3]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb79468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Calvin and I missed the early bus, and this made ____ late for the presentation.\n</p>\n\n",
   :options
   [[false "him " 0] [false "me" 1] [true "us " 2] [false "them " 3]],
   :jawaban "C"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb7a468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Calvin and I missed the morning train, and this made ____ late for the meeting.\n</p>\n\n",
   :options
   [[false "them " 0] [false "him " 1] [false "me" 2] [true "us " 3]],
   :jawaban "D"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb7b468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Calvin and I missed the early bus, and this made ____ late for the movie&#39;s premier.\n</p>\n\n",
   :options
   [[false "him " 0] [false "them " 1] [true "us " 2] [false "me" 3]],
   :jawaban "C"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb7c468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Firmino and I missed the early bus, and this made ____ late for the meeting.\n</p>\n\n",
   :options
   [[false "me" 0] [true "us " 1] [false "them " 2] [false "him " 3]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb7d468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Roberto and Ronaldo missed the early bus, and this made ____ late for the presentation.\n</p>\n\n",
   :options
   [[false "he" 0] [false "us " 1] [false "him " 2] [true "them " 3]],
   :jawaban "D"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Ronaldo itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb7e468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Steven and I missed the morning train, and this made ____ late for the wedding.\n</p>\n\n",
   :options
   [[false "me" 0] [false "them " 1] [true "us " 2] [false "him " 3]],
   :jawaban "C"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb7f468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Roberto and Steven missed the morning train, and this made ____ late for the football game.\n</p>\n\n",
   :options
   [[false "us " 0] [false "he" 1] [true "them " 2] [false "him " 3]],
   :jawaban "C"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Steven itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb80468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Calvin and Ronaldo missed the morning train, and this made ____ late for the football game.\n</p>\n\n",
   :options
   [[false "us " 0] [false "him " 1] [false "he" 2] [true "them " 3]],
   :jawaban "D"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Ronaldo itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb81468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Steven and Calvin missed the morning flight, and this made ____ late for the movie&#39;s premier.\n</p>\n\n",
   :options
   [[false "he" 0] [false "us " 1] [false "him " 2] [true "them " 3]],
   :jawaban "D"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Calvin itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb82468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Ronaldo and Roberto missed the early bus, and this made ____ late for the movie&#39;s premier.\n</p>\n\n",
   :options
   [[false "him " 0] [false "he" 1] [true "them " 2] [false "us " 3]],
   :jawaban "C"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Roberto itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb83468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Roberto and Firmino missed the early bus, and this made ____ late for the wedding.\n</p>\n\n",
   :options
   [[true "them " 0] [false "him " 1] [false "us " 2] [false "he" 3]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Firmino itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb84468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Steven and I missed the morning flight, and this made ____ late for the meeting.\n</p>\n\n",
   :options
   [[false "them " 0] [false "me" 1] [true "us " 2] [false "him " 3]],
   :jawaban "C"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb85468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Ronaldo and I missed the early bus, and this made ____ late for the wedding.\n</p>\n\n",
   :options
   [[true "us " 0] [false "me" 1] [false "him " 2] [false "them " 3]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb86468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Roberto and I missed the morning train, and this made ____ late for the football game.\n</p>\n\n",
   :options
   [[false "them " 0] [false "him " 1] [true "us " 2] [false "me" 3]],
   :jawaban "C"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb87468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Calvin and I missed the morning flight, and this made ____ late for the meeting.\n</p>\n\n",
   :options
   [[false "me" 0] [true "us " 1] [false "them " 2] [false "him " 3]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb88468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Calvin and Steven missed the morning flight, and this made ____ late for the wedding.\n</p>\n\n",
   :options
   [[false "us " 0] [false "he" 1] [true "them " 2] [false "him " 3]],
   :jawaban "C"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Steven itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb89468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Firmino and I missed the morning train, and this made ____ late for the football game.\n</p>\n\n",
   :options
   [[false "me" 0] [false "them " 1] [false "him " 2] [true "us " 3]],
   :jawaban "D"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb8a468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Roberto and I missed the early bus, and this made ____ late for the presentation.\n</p>\n\n",
   :options
   [[false "him " 0] [true "us " 1] [false "them " 2] [false "me" 3]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb8b468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Roberto and I missed the early bus, and this made ____ late for the movie&#39;s premier.\n</p>\n\n",
   :options
   [[false "him " 0] [false "them " 1] [true "us " 2] [false "me" 3]],
   :jawaban "C"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena I itu maksudnya berarti orang pertama tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang pertama jamak. So jawabannya jadi us.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb8c468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n Roberto and Steven missed the morning flight, and this made ____ late for the movie&#39;s premier.\n</p>\n\n",
   :options
   [[true "them " 0] [false "him " 1] [false "us " 2] [false "he" 3]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>\n bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>\n Karena Steven itu maksudnya berarti orang ketiga tunggal dan berarti ini berdua yang missed <br>\n Jadi jatohnya si object ini orang ketiga jamak. So jawabannya jadi them.\n</p>",
  :template-id "8add7760406011eb922226635d7a8a5f",
  :topic :english,
  :problem-id "5687bb8d468611eba53b81e59324e143"}]
