[{:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada kerupuk yang berwarna biru <br>\n Kesimpulan: <br>\n Ada kerupuk yang tidak berwarna biru\n\n</p>\n\n",
   :options [[true "Tidak valid" 0] [false "Valid " 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada kerupuk yang berwarna biru <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada orang yang tingginya kurang dari 3m, <br>\n bukan berarti bahwa ada kan yang tingginya lebih dari 3m hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc50468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada langit yang berwarna biru <br>\n Kesimpulan: <br>\n Ada langit yang tidak berwarna biru\n\n</p>\n\n",
   :options [[false "Valid " 0] [true "Tidak valid" 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada langit yang berwarna biru <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada kucing yang beratnya kurang dari 1 ton, <br>\n bukan berarti bahwa ada kan yang beratnya ngga kurang dari 1 ton hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc51468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada langit yang garing <br>\n Kesimpulan: <br>\n Ada langit yang tidak garing\n\n</p>\n\n",
   :options [[false "Valid " 0] [true "Tidak valid" 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada langit yang garing <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada orang yang tingginya kurang dari 3m, <br>\n bukan berarti bahwa ada kan yang tingginya lebih dari 3m hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc52468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada kucing yang garing <br>\n Kesimpulan: <br>\n Ada kucing yang tidak garing\n\n</p>\n\n",
   :options [[true "Tidak valid" 0] [false "Valid " 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada kucing yang garing <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada kucing yang beratnya kurang dari 1 ton, <br>\n bukan berarti bahwa ada kan yang beratnya ngga kurang dari 1 ton hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc53468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada rengginang yang berwarna coklat <br>\n Kesimpulan: <br>\n Ada rengginang yang tidak berwarna coklat\n\n</p>\n\n",
   :options [[true "Tidak valid" 0] [false "Valid " 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada rengginang yang berwarna coklat <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada kucing yang beratnya kurang dari 1 ton, <br>\n bukan berarti bahwa ada kan yang beratnya ngga kurang dari 1 ton hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc54468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada langit yang keliatan warna warni <br>\n Kesimpulan: <br>\n Ada langit yang tidak keliatan warna warni\n\n</p>\n\n",
   :options [[true "Tidak valid" 0] [false "Valid " 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada langit yang keliatan warna warni <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada kucing yang beratnya kurang dari 1 ton, <br>\n bukan berarti bahwa ada kan yang beratnya ngga kurang dari 1 ton hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc55468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada langit yang berwarna coklat <br>\n Kesimpulan: <br>\n Ada langit yang tidak berwarna coklat\n\n</p>\n\n",
   :options [[false "Valid " 0] [true "Tidak valid" 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada langit yang berwarna coklat <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada kucing yang beratnya kurang dari 1 ton, <br>\n bukan berarti bahwa ada kan yang beratnya ngga kurang dari 1 ton hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc56468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada kucing yang berwarna coklat <br>\n Kesimpulan: <br>\n Ada kucing yang tidak berwarna coklat\n\n</p>\n\n",
   :options [[true "Tidak valid" 0] [false "Valid " 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada kucing yang berwarna coklat <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada orang yang tingginya kurang dari 3m, <br>\n bukan berarti bahwa ada kan yang tingginya lebih dari 3m hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc57468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada kucing yang keliatan warna warni <br>\n Kesimpulan: <br>\n Ada kucing yang tidak keliatan warna warni\n\n</p>\n\n",
   :options [[true "Tidak valid" 0] [false "Valid " 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada kucing yang keliatan warna warni <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada orang yang tingginya kurang dari 3m, <br>\n bukan berarti bahwa ada kan yang tingginya lebih dari 3m hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc58468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada rengginang yang keliatan warna warni <br>\n Kesimpulan: <br>\n Ada rengginang yang tidak keliatan warna warni\n\n</p>\n\n",
   :options [[false "Valid " 0] [true "Tidak valid" 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada rengginang yang keliatan warna warni <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada kucing yang beratnya kurang dari 1 ton, <br>\n bukan berarti bahwa ada kan yang beratnya ngga kurang dari 1 ton hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc59468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada kerupuk yang berwarna coklat <br>\n Kesimpulan: <br>\n Ada kerupuk yang tidak berwarna coklat\n\n</p>\n\n",
   :options [[true "Tidak valid" 0] [false "Valid " 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada kerupuk yang berwarna coklat <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada orang yang tingginya kurang dari 3m, <br>\n bukan berarti bahwa ada kan yang tingginya lebih dari 3m hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc5a468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada rengginang yang berwarna biru <br>\n Kesimpulan: <br>\n Ada rengginang yang tidak berwarna biru\n\n</p>\n\n",
   :options [[true "Tidak valid" 0] [false "Valid " 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada rengginang yang berwarna biru <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada orang yang tingginya kurang dari 3m, <br>\n bukan berarti bahwa ada kan yang tingginya lebih dari 3m hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc5b468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada rengginang yang garing <br>\n Kesimpulan: <br>\n Ada rengginang yang tidak garing\n\n</p>\n\n",
   :options [[false "Valid " 0] [true "Tidak valid" 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada rengginang yang garing <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada orang yang tingginya kurang dari 3m, <br>\n bukan berarti bahwa ada kan yang tingginya lebih dari 3m hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc5c468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada kerupuk yang keliatan warna warni <br>\n Kesimpulan: <br>\n Ada kerupuk yang tidak keliatan warna warni\n\n</p>\n\n",
   :options [[true "Tidak valid" 0] [false "Valid " 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada kerupuk yang keliatan warna warni <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada kucing yang beratnya kurang dari 1 ton, <br>\n bukan berarti bahwa ada kan yang beratnya ngga kurang dari 1 ton hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc5d468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada kerupuk yang garing <br>\n Kesimpulan: <br>\n Ada kerupuk yang tidak garing\n\n</p>\n\n",
   :options [[true "Tidak valid" 0] [false "Valid " 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada kerupuk yang garing <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada orang yang tingginya kurang dari 3m, <br>\n bukan berarti bahwa ada kan yang tingginya lebih dari 3m hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc5e468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n<p>\n\n Diketahui informasi sebagai berikut <br>\n Ada kucing yang berwarna biru <br>\n Kesimpulan: <br>\n Ada kucing yang tidak berwarna biru\n\n</p>\n\n",
   :options [[true "Tidak valid" 0] [false "Valid " 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Fakta yang kita ketahui cuma bahwa ada kucing yang berwarna biru <br>\n Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>\n pernyataannya itu sendiri.\n Misal kalo kita bilang ada kucing yang beratnya kurang dari 1 ton, <br>\n bukan berarti bahwa ada kan yang beratnya ngga kurang dari 1 ton hehe.\n\n</p>",
  :template-id "8adc17d0406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "5684fc5f468611eba53b81e59324e143"}]
