[{:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang udah lama kerja naik gaji <br>\n - Oncom tidak naik gaji <br>\n <br>\n Kesimpulan: Oncom tidak udah lama kerja\n\n</p>\n\n",
   :options [[false "Tidak valid" 0] [true "Valid " 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang udah lama kerja kan naik gaji. <br>\n Berarti udah pasti dong kalo udah lama kerja ya pasti naik gaji lah. <br>\n Jadi kalo dia ngga naik gaji pasti banget juga ngga udah lama kerja <br>\n Berarti kalo si Oncom itu ga naik gaji ya pasti lah dia ngga udah lama kerja\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dc0468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang baru jadi maba mendapat cuti <br>\n - Oncom tidak mendapat cuti <br>\n <br>\n Kesimpulan: Oncom tidak baru jadi maba\n\n</p>\n\n",
   :options [[false "Tidak valid" 0] [true "Valid " 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang baru jadi maba kan mendapat cuti. <br>\n Berarti udah pasti dong kalo baru jadi maba ya pasti mendapat cuti lah. <br>\n Jadi kalo dia ngga mendapat cuti pasti banget juga ngga baru jadi maba <br>\n Berarti kalo si Oncom itu ga mendapat cuti ya pasti lah dia ngga baru jadi maba\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dc1468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang baru jadi maba naik gaji <br>\n - Ketoprak tidak naik gaji <br>\n <br>\n Kesimpulan: Ketoprak tidak baru jadi maba\n\n</p>\n\n",
   :options [[false "Tidak valid" 0] [true "Valid " 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang baru jadi maba kan naik gaji. <br>\n Berarti udah pasti dong kalo baru jadi maba ya pasti naik gaji lah. <br>\n Jadi kalo dia ngga naik gaji pasti banget juga ngga baru jadi maba <br>\n Berarti kalo si Ketoprak itu ga naik gaji ya pasti lah dia ngga baru jadi maba\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dc2468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang ikut internship mendapat cuti <br>\n - Ketoprak tidak mendapat cuti <br>\n <br>\n Kesimpulan: Ketoprak tidak ikut internship\n\n</p>\n\n",
   :options [[true "Valid " 0] [false "Tidak valid" 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang ikut internship kan mendapat cuti. <br>\n Berarti udah pasti dong kalo ikut internship ya pasti mendapat cuti lah. <br>\n Jadi kalo dia ngga mendapat cuti pasti banget juga ngga ikut internship <br>\n Berarti kalo si Ketoprak itu ga mendapat cuti ya pasti lah dia ngga ikut internship\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dc3468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang udah lama kerja mendapat cuti <br>\n - Oncom tidak mendapat cuti <br>\n <br>\n Kesimpulan: Oncom tidak udah lama kerja\n\n</p>\n\n",
   :options [[false "Tidak valid" 0] [true "Valid " 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang udah lama kerja kan mendapat cuti. <br>\n Berarti udah pasti dong kalo udah lama kerja ya pasti mendapat cuti lah. <br>\n Jadi kalo dia ngga mendapat cuti pasti banget juga ngga udah lama kerja <br>\n Berarti kalo si Oncom itu ga mendapat cuti ya pasti lah dia ngga udah lama kerja\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dc4468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang baru jadi maba dapet upah minimal <br>\n - Steven tidak dapet upah minimal <br>\n <br>\n Kesimpulan: Steven tidak baru jadi maba\n\n</p>\n\n",
   :options [[true "Valid " 0] [false "Tidak valid" 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang baru jadi maba kan dapet upah minimal. <br>\n Berarti udah pasti dong kalo baru jadi maba ya pasti dapet upah minimal lah. <br>\n Jadi kalo dia ngga dapet upah minimal pasti banget juga ngga baru jadi maba <br>\n Berarti kalo si Steven itu ga dapet upah minimal ya pasti lah dia ngga baru jadi maba\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dc5468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang pulang kampung naik gaji <br>\n - Firmino tidak naik gaji <br>\n <br>\n Kesimpulan: Firmino tidak pulang kampung\n\n</p>\n\n",
   :options [[true "Valid " 0] [false "Tidak valid" 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang pulang kampung kan naik gaji. <br>\n Berarti udah pasti dong kalo pulang kampung ya pasti naik gaji lah. <br>\n Jadi kalo dia ngga naik gaji pasti banget juga ngga pulang kampung <br>\n Berarti kalo si Firmino itu ga naik gaji ya pasti lah dia ngga pulang kampung\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dc6468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang udah lama kerja mendapat cuti <br>\n - Ketoprak tidak mendapat cuti <br>\n <br>\n Kesimpulan: Ketoprak tidak udah lama kerja\n\n</p>\n\n",
   :options [[false "Tidak valid" 0] [true "Valid " 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang udah lama kerja kan mendapat cuti. <br>\n Berarti udah pasti dong kalo udah lama kerja ya pasti mendapat cuti lah. <br>\n Jadi kalo dia ngga mendapat cuti pasti banget juga ngga udah lama kerja <br>\n Berarti kalo si Ketoprak itu ga mendapat cuti ya pasti lah dia ngga udah lama kerja\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dc7468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang ikut internship mendapat cuti <br>\n - Oncom tidak mendapat cuti <br>\n <br>\n Kesimpulan: Oncom tidak ikut internship\n\n</p>\n\n",
   :options [[false "Tidak valid" 0] [true "Valid " 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang ikut internship kan mendapat cuti. <br>\n Berarti udah pasti dong kalo ikut internship ya pasti mendapat cuti lah. <br>\n Jadi kalo dia ngga mendapat cuti pasti banget juga ngga ikut internship <br>\n Berarti kalo si Oncom itu ga mendapat cuti ya pasti lah dia ngga ikut internship\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dc8468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang ikut internship dapet upah minimal <br>\n - Steven tidak dapet upah minimal <br>\n <br>\n Kesimpulan: Steven tidak ikut internship\n\n</p>\n\n",
   :options [[true "Valid " 0] [false "Tidak valid" 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang ikut internship kan dapet upah minimal. <br>\n Berarti udah pasti dong kalo ikut internship ya pasti dapet upah minimal lah. <br>\n Jadi kalo dia ngga dapet upah minimal pasti banget juga ngga ikut internship <br>\n Berarti kalo si Steven itu ga dapet upah minimal ya pasti lah dia ngga ikut internship\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dc9468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang pulang kampung dapet upah minimal <br>\n - Calvin tidak dapet upah minimal <br>\n <br>\n Kesimpulan: Calvin tidak pulang kampung\n\n</p>\n\n",
   :options [[true "Valid " 0] [false "Tidak valid" 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang pulang kampung kan dapet upah minimal. <br>\n Berarti udah pasti dong kalo pulang kampung ya pasti dapet upah minimal lah. <br>\n Jadi kalo dia ngga dapet upah minimal pasti banget juga ngga pulang kampung <br>\n Berarti kalo si Calvin itu ga dapet upah minimal ya pasti lah dia ngga pulang kampung\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dca468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang pulang kampung mendapat cuti <br>\n - Ketoprak tidak mendapat cuti <br>\n <br>\n Kesimpulan: Ketoprak tidak pulang kampung\n\n</p>\n\n",
   :options [[true "Valid " 0] [false "Tidak valid" 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang pulang kampung kan mendapat cuti. <br>\n Berarti udah pasti dong kalo pulang kampung ya pasti mendapat cuti lah. <br>\n Jadi kalo dia ngga mendapat cuti pasti banget juga ngga pulang kampung <br>\n Berarti kalo si Ketoprak itu ga mendapat cuti ya pasti lah dia ngga pulang kampung\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dcb468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang udah lama kerja dapet upah minimal <br>\n - Oncom tidak dapet upah minimal <br>\n <br>\n Kesimpulan: Oncom tidak udah lama kerja\n\n</p>\n\n",
   :options [[false "Tidak valid" 0] [true "Valid " 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang udah lama kerja kan dapet upah minimal. <br>\n Berarti udah pasti dong kalo udah lama kerja ya pasti dapet upah minimal lah. <br>\n Jadi kalo dia ngga dapet upah minimal pasti banget juga ngga udah lama kerja <br>\n Berarti kalo si Oncom itu ga dapet upah minimal ya pasti lah dia ngga udah lama kerja\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dcc468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang baru jadi maba dapet upah minimal <br>\n - Firmino tidak dapet upah minimal <br>\n <br>\n Kesimpulan: Firmino tidak baru jadi maba\n\n</p>\n\n",
   :options [[true "Valid " 0] [false "Tidak valid" 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang baru jadi maba kan dapet upah minimal. <br>\n Berarti udah pasti dong kalo baru jadi maba ya pasti dapet upah minimal lah. <br>\n Jadi kalo dia ngga dapet upah minimal pasti banget juga ngga baru jadi maba <br>\n Berarti kalo si Firmino itu ga dapet upah minimal ya pasti lah dia ngga baru jadi maba\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dcd468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang baru jadi maba dapet upah minimal <br>\n - Calvin tidak dapet upah minimal <br>\n <br>\n Kesimpulan: Calvin tidak baru jadi maba\n\n</p>\n\n",
   :options [[true "Valid " 0] [false "Tidak valid" 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang baru jadi maba kan dapet upah minimal. <br>\n Berarti udah pasti dong kalo baru jadi maba ya pasti dapet upah minimal lah. <br>\n Jadi kalo dia ngga dapet upah minimal pasti banget juga ngga baru jadi maba <br>\n Berarti kalo si Calvin itu ga dapet upah minimal ya pasti lah dia ngga baru jadi maba\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dce468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang pulang kampung naik gaji <br>\n - Oncom tidak naik gaji <br>\n <br>\n Kesimpulan: Oncom tidak pulang kampung\n\n</p>\n\n",
   :options [[false "Tidak valid" 0] [true "Valid " 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang pulang kampung kan naik gaji. <br>\n Berarti udah pasti dong kalo pulang kampung ya pasti naik gaji lah. <br>\n Jadi kalo dia ngga naik gaji pasti banget juga ngga pulang kampung <br>\n Berarti kalo si Oncom itu ga naik gaji ya pasti lah dia ngga pulang kampung\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dcf468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang pulang kampung mendapat THR <br>\n - Calvin tidak mendapat THR <br>\n <br>\n Kesimpulan: Calvin tidak pulang kampung\n\n</p>\n\n",
   :options [[true "Valid " 0] [false "Tidak valid" 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang pulang kampung kan mendapat THR. <br>\n Berarti udah pasti dong kalo pulang kampung ya pasti mendapat THR lah. <br>\n Jadi kalo dia ngga mendapat THR pasti banget juga ngga pulang kampung <br>\n Berarti kalo si Calvin itu ga mendapat THR ya pasti lah dia ngga pulang kampung\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dd0468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang pulang kampung dapet upah minimal <br>\n - Oncom tidak dapet upah minimal <br>\n <br>\n Kesimpulan: Oncom tidak pulang kampung\n\n</p>\n\n",
   :options [[false "Tidak valid" 0] [true "Valid " 1]],
   :jawaban "B"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang pulang kampung kan dapet upah minimal. <br>\n Berarti udah pasti dong kalo pulang kampung ya pasti dapet upah minimal lah. <br>\n Jadi kalo dia ngga dapet upah minimal pasti banget juga ngga pulang kampung <br>\n Berarti kalo si Oncom itu ga dapet upah minimal ya pasti lah dia ngga pulang kampung\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dd1468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang udah lama kerja dapet upah minimal <br>\n - Firmino tidak dapet upah minimal <br>\n <br>\n Kesimpulan: Firmino tidak udah lama kerja\n\n</p>\n\n",
   :options [[true "Valid " 0] [false "Tidak valid" 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang udah lama kerja kan dapet upah minimal. <br>\n Berarti udah pasti dong kalo udah lama kerja ya pasti dapet upah minimal lah. <br>\n Jadi kalo dia ngga dapet upah minimal pasti banget juga ngga udah lama kerja <br>\n Berarti kalo si Firmino itu ga dapet upah minimal ya pasti lah dia ngga udah lama kerja\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dd2468611eba53b81e59324e143"}
 {:soal
  {:soal-text
   "\n\n\n<p>\n Diketahui beberapa informasi berikut: <br>\n - Semua yang ikut internship mendapat THR <br>\n - Ketoprak tidak mendapat THR <br>\n <br>\n Kesimpulan: Ketoprak tidak ikut internship\n\n</p>\n\n",
   :options [[true "Valid " 0] [false "Tidak valid" 1]],
   :jawaban "A"},
  :bahas
  "\n\n<p>\n\n Kita tahu bahwa SEMUA yang ikut internship kan mendapat THR. <br>\n Berarti udah pasti dong kalo ikut internship ya pasti mendapat THR lah. <br>\n Jadi kalo dia ngga mendapat THR pasti banget juga ngga ikut internship <br>\n Berarti kalo si Ketoprak itu ga mendapat THR ya pasti lah dia ngga ikut internship\n\n</p>",
  :template-id "8adcb410406011eb922226635d7a8a5f",
  :topic :logic,
  :problem-id "56860dd3468611eba53b81e59324e143"}]
